<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}ChatRM - {% endblock %}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='chat_style.css') }}">
		{% block javascript %}{% endblock %}
	</head>
	<body>
        <h1>ChatRM</h1>
		{% if username %}
			Welcome, {{ username }}! <a href="{{ url_for('logout') }}">click here to logout</a>
			<br />
			<br />
		{% endif %}
		{% with flashes = get_flashed_messages() %}
			{% if flashes %}
			<ul class="flashes">
			{% for message in flashes %}
				<li>{{ message }}
			{% endfor %}
			</ul>
			{% endif %}
		{% endwith %}
		<div class="body">
			{% block body %}{% endblock %}
		</div>
	</body>
</html>